@forward 'globals';

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  display: flex;
  gap: 20px;
  padding: 20px;
  border: 1px solid #000;
  background: white;

  &__preview {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__preview img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    transition: all 0.5s ease;
  }

  &__preview img:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  &__section {
    display: flex;
    align-items: center;
  }

  &__arrow {
    width: 75px;
    height: 75px;
    cursor: pointer;

    &--left {
      transform: rotate(180deg);
    }
  }

  &__img img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
  }
}
