@forward 'globals';

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__preview {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__preview img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 8px;
  }

  &__preview img:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  &__smallImgActive {
    border: 3px solid #000;
  }

  &__section {
    display: flex;
    gap: 3rem;
    align-items: center;
  }

  &__arrow {
    width: 75px;
    height: 75px;
    cursor: pointer;

    &--left {
      transform: rotate(180deg);
    }
  }

  &__img img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 13px 27px -5px #32325d40, 0 8px 16px -8px #0000004d, 0 -6px 16px -6px #00000008;
  }
}
